[submodule ".config/awesome/lain"]
	path = .config/awesome/lain
	url = git@github.com:lcpz/lain.git
[submodule ".config/awesome/icon_customizer"]
	path = .config/awesome/icon_customizer
	url = git@github.com:intrntbrn/icon_customizer.git
